<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/menu.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/quantity.js" defer></script>
    <script src="/scripts/items.js" defer></script>

    <title>Menu</title>
  </head>
  <body>
    <header>
      <div id="nav-bar">
        <h1 id="name">Branch Bots</h1>
      </div>
    </header>
    <main>
      <section id="bg">
        <div id="contaier">
          <ul id="menu-list"></ul>
        </div>
        <section id="sub-btn">
          <button>Submit</button>
        </section>
      </section>
    </main>
  </body>
</html>
