<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/shared.css" />
    <link rel="stylesheet" href="/styles/orders.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/order.js" defer></script>
    <title>Orders</title>
  </head>
  <body>
    <header>
      <div id="nav-bar">
        <h1 id="name">Branch Bots</h1>
      </div>
    </header>
    <main>
      <div id="order-summary">
        <h2>Orders</h2>
        <div class="order-item">
          <span class="item-name"></span>
          <span class="item-quantity"></span>
        </div>
      </div>
    </main>
  </body>
</html>
