body {
  margin: 0;
  background-color: rgb(255, 240, 225);
}
#nav-bar {
  width: 100%;
  margin: auto;
  background-color: rgb(82, 68, 158);
}
#name {
  margin: 0;
  padding: 1rem;
  color: rgb(237, 235, 239);
}
